@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: #FFEF00;
$outside-gradient: #11011C;
$inside-gradient: #020202;
$inbetween-gradient: #0A020F;
$white-but-not-really: whitesmoke;

body {
  background-image: linear-gradient(to right, $outside-gradient 5%, $inbetween-gradient 20%, $inside-gradient 25%, $inside-gradient 75%, $inbetween-gradient 80%, $outside-gradient 95%);
  color: $white-but-not-really;
  overscroll-behavior: none;
}

a {
  color: $primary-color;
}


canvas {
  display: block;
}

.socialLinks {
  text-align: center;
  top: 0;
  width: 100%;
  padding: 20px;
  bottom: 100px;
  box-sizing: border-box;
}

.typewriter{
  margin: auto;
  top: 100px;
  max-width: 60%;
  text-align: justify;
}

$duration-blink: 0.7;
$duration-hide: 0.1;

$duration-factor: 0.04;
$chars-line-1: 25;
$duration-line-1: $chars-line-1 * $duration-factor;

$took: 0;
$blink-steps-line-1: 30;
.type-line-1 {
  float: left;
  box-sizing: initial;
  border-right: .2em solid transparent;
  width: $chars-line-1 * 1ch;
  white-space: nowrap;
  overflow: hidden;
  animation: ($duration-line-1 * 1s) steps($chars-line-1, end) typing,
          ($duration-blink * 1s) step-end (ceil($duration-line-1 + $took)/$duration-blink) blink-caret;
}

$took: $duration-line-1 + $took;
$chars-line-2: 48;
$duration-line-2: $chars-line-2 * $duration-factor;
.type-line-2 {
  float: left;
  opacity: 0;
  box-sizing: initial;
  border-right: .2em solid transparent;
  width: $chars-line-2 * 1ch;
  white-space: nowrap;
  overflow: hidden;
  animation: ($duration-hide * 1s) step-start (($took + $duration-hide) * 1s) forwards hide, ($duration-line-2 * 1s) steps($chars-line-2, end) ($took * 1s) typing,
          ($duration-blink * 1s) step-start (ceil($duration-line-2 + $took)/$duration-blink) blink-caret;
}

$took: $duration-line-2 + $took;
$chars-line-3: 88;
$duration-line-3: $chars-line-3 * $duration-factor;
.type-line-3 {
  float: left;
  opacity: 0;
  box-sizing: initial;
  border-right: .2em solid transparent;
  width: $chars-line-3 * 1ch;
  white-space: nowrap;
  overflow: hidden;
  animation: ($duration-hide * 1s) step-start (($took + $duration-hide) * 1s) forwards hide, (($took + $duration-hide) * 1s) steps($chars-line-3, end) ($took * 1s) typing,
          ($duration-blink * 1s) step-start (ceil($duration-line-3 + $took)/$duration-blink) blink-caret;
}


@keyframes hide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes typing {
  from {
    width: 0;
  }
}


@keyframes blink-caret {
  from, to {
    border-color: $primary-color
  }
  50% {
    border-color: transparent;
  }
}